/talleres/taller07/Laboratorio3/nbproject/private/
/Laboratorio3/nbproject/private/
/laboratorios/lab03/Laboratorio3/nbproject/private/
/laboratorios/lab03/Laboratorio3/build/
/laboratorios/lab03/Laboratorio3/dist/
/laboratorios/lab04/codigo/Laboratorio4/dist/
/laboratorios/lab04/Lab4/nbproject/private/
/laboratorios/lab04/Lab4/build/
/proyecto/codigo/SistemaArchivo_Vr1/nbproject/private/
/proyecto/codigo/SistemaArchivo_Vr1/build/
/proyecto/codigo/SistemaArchivo_Vr1/dist/
/proyecto/codigo/SistemaArchivos_1/nbproject/private/
/proyecto/codigo/SistemaArchivos_1/build/