/laboratorios/lab02/codigo/C++/Lab2/nbproject/private/
/laboratorios/lab02/codigo/lab2/nbproject/private/
/laboratorios/lab02/codigo/lab2/build/
/laboratorios/lab02/codigo/Taller7/nbproject/private/
/talleres/taller07/Taller7/nbproject/private/
/talleres/taller07/Taller7/build/